<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}EPI{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
  <nav class="nav">
    <div class="wrap">
      <div class="brand"><span class="dot"></span> EPI • Baixa Automática</div>
      <div class="menu">
        <a href="{{ url_for('baixa_automatica') }}" class="{% if request.path=='/' %}active{% endif %}">Baixa</a>
        <a href="{{ url_for('novo_item') }}" class="{% if '/novo' in request.path %}active{% endif %}">Cadastro</a>
        <a href="{{ url_for('repor') }}" class="{% if '/repor' in request.path %}active{% endif %}">Reposição</a>
        <a href="{{ url_for('itens_lista') }}" class="{% if '/itens' in request.path %}active{% endif %}">Gerenciar estoque</a>
        <a href="{{ url_for('relatorios') }}" class="{% if '/relatorios' in request.path %}active{% endif %}">Relatórios</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      {% block content %}{% endblock %}
    </div>
  </div>

  {# bloco opcional para scripts das páginas #}
  {% block scripts %}{% endblock %}
</body>
</html>
